@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

header{
    font-size: 35px;
    margin: 15px 5px;
    text-align: center;
}

header>span:nth-child(2){
    padding-left: 5px;
    color: blue;
}

form{
    margin-top: 5px;
}
svg.noteAdd:hover{
    color: rgb(28, 63, 219) !important; 
}
svg.noteDelete:hover{
    color: red;
}
svg:active{
    transform: scale(1.1);
}
.todoItem{
    font-size: 25px;
    padding-left: 10px;
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo>div{
    flex: auto;
}
.todo>span{
    align-self: flex-start;
}
.todo>*{
    margin: auto 5px;
}
.todo>div>h2{
    margin: 0px;
}
.todo>div>p{
    margin: 0px;
    font-size: 20px;
}
.todo:nth-child(even){
    background-color: #2d2d2d1c;
}