@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    width: 90vw;
}

header{
    font-size: 35px;
    margin: 15px 5px;
    margin-bottom: 5px;
    text-align: center;
}

header>span:nth-child(2){
    padding-left: 5px;
    color: blue;
}

form{
    margin-top: 5px;
    width: 410px;
}


svg.noteAdd:hover{
    color: rgb(28, 63, 219) !important; 
}

svg:active{
    transform: scale(1.1);
}

.todoItem{
    font-size: 25px;
    padding: 10px;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.todo>div{
    flex: auto;
    width: 500px;
    word-wrap: break-word;
    transition: all 0.8s;
}
.todo>span{
    align-self: flex-start;
}
.todo>*{
    margin: auto 5px;
}
.todo>div>h2{
    margin: 5px 0px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 2rem;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}
.todo>div>p{
    margin: 5px 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
}

.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root>* {
    height: 30px;
}

.filter{
    margin: auto;
}

.footer {
    position: sticky;
    bottom: 10px;
    left:10px;
    padding-left: 90%;
    /* background-color: red; */
}